POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
DATABASE_URL=postgresql://user:password@db:5432/db

PGADMIN_DEFAULT_EMAIL=user
PGADMIN_DEFAULT_PASSWORD=password

KEYDB_DB=keydb
KEYDB_USER=keyuser
KEYDB_PASSWORD=password
KEYDB_URL=postgresql://keyuser:password@keydb:5432/keydb

JWT_SECRET_KEY=jwt-secret-code
JWT_ALGORITHM=HS256

KEYSERVER_INTERNAL_URL=http://keyserver:9000/

MINIO_1_ENDPOINT=minio1:9000
MINIO_1_ACCESS_KEY=minio1
MINIO_1_SECRET_KEY=password
MINIO_1_BUCKET=cloud-part-1

MINIO_2_ENDPOINT=minio2:9000
MINIO_2_ACCESS_KEY=minio2
MINIO_2_SECRET_KEY=password
MINIO_2_BUCKET=cloud-part-2

MINIO_3_ENDPOINT=minio3:9000
MINIO_3_ACCESS_KEY=minio3
MINIO_3_SECRET_KEY=password
MINIO_3_BUCKET=cloud-part-3

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=user
SMTP_PASSWORD=password
SMTP_FROM_EMAIL=email
SMTP_FROM_NAME=Cloud Segura
SMTP_USE_TLS=false
SMTP_USE_STARTTLS=true
SMTP_TIMEOUT_SECONDS=15
