*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Sidebar */

.sidebar{
    position:fixed;
    left:0;
    top:0;
    width:250px;
    height:100%;
    background:#25303b;
    padding-top:20px;
    box-shadow: 4px 0 10px rgba(0,0,0,0.5);
    /*4px deslocamento horizontal (horizontal offset) */
    /*0 deslocamento vertical (vertical offset) */
    /*10px blur radius → quão suave/desfocada fica a sombra */
    /*rgba(0,0,0,0.2); cor da sombra + transparência */
}

.storage{
    padding-left:0px 20px;
    margin-top: 20px;

}

.storage .progress{
    width: 80%;
    height: 8px;
    margin-left: auto;
    margin-right:auto;
}

/* Logo */

.logo{
    color:rgb(255, 255, 255);
    text-align:center;
    margin-bottom:30px;
}

/* Menu */
main {
    margin-left: 300px;
}

.menu{
    list-style:none;
    padding-left: 0;
    margin:0;
}

.menu li{
    margin:5px 0;
    align-items: center;
    display: block;
}

.menu a{
    display:block;
    padding:15px 20px;
    color:white;
    text-decoration:none;
    transition:0.3s;
}

/* Hover */

.menu a:hover{
    background:#34495e;
    padding-left:30px;
}

/* Conteúdo principal */

.imagem_side_bar{
    width:20px;
    height:20px;
    margin-right:10px;
}

.separador_side{
    margin: 5px; 
    border-color: rgb(27, 32, 58);
    color: rgb(27, 32, 58);
}

.barra_espaco{
    background-color: rgb(120, 139, 230);
    border-color: rgb(120, 139, 230);
}



/* Main Page */

.search_box input{
    width:100%;
    padding:10px;
    border-radius:30px;
    border:1px solid #ccc;
    margin-top: 50px;
}


.container_completo{
    width: 80%;
    padding-right: 12px;
    padding-left: 12px;
    margin-top:30px ;
}

.container_completo .caixa{
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 13px -7px #000000;
    padding: 5px;
    border-radius: 2%;
    border-top-right-radius: 7%;
    display: block;
    justify-content: center;
    align-items: center;
}

.caixa .nome_ficheiro{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 12px;
}

.caixa .nome_ficheiro .p{
    margin: 0;
    border-width: 1px;
}

.caixa .img_ficheiro{
    width: 100%;
    border-radius: 3%;
}

